

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}

/*//NAV//*/
.navbar {
  display: flex;
  justify-content: space-between; 
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  font-size:2rem;
  background: #FBFBFB;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  padding: 0px 5%; 

}
.navbar-brand{
  font-family: 'Libre Baskerville', serif;
  font-size:2rem !important;
  display: flex;
  z-index: 10;
  align-self: center;
}

.nav-item:hover{
  text-decoration: underline;
  text-decoration-color: #ffd100;
}

.siteName a {
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  color:#181818;
}

.nav-list{
  list-style: none;
  display:flex;
  margin-right:2em;
  padding:0;
  z-index:1;
  
}

.nav-list a:hover{
  text-decoration: underline;
  text-decoration-color: #ffd100;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  text-decoration: none;
  color:#181818;
}
.nav-list ul{
  list-style:none;
  padding:0;
  font-size:1.8rem;
  font-weight:400;
  line-height:.05;
  text-decoration:none;
  display:list-item;
  
}

.nav-list a:hover{
  color:#00749C;
}

.custom-shape-divider-top-1678475592 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1678475592 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 300px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1678475592 .shape-fill {
  fill: #00749C;
}
/*//INTRO//*/
#intro {
  background: #FBFBFB;
  display: flex;
  justify-content: flex-start;
  padding-top: 20em; 
  font-family: 'Libre Baskerville', serif;
}

.intro-list{
  list-style: none;
 
}

.intro-list h1{
  font-size:4.2em;
    list-style: none;
    color:#181818;
    
}

span{
    color:
    #00749C;
}

.highlight {
  display: inline;
  background: #ffd100;
  color: #ffffff;
  box-shadow: .5em 0 0 #ffd100, -.5em 0 0 #ffd100;
}


#about {
  background:#FBFBFB;
}
.title{
    margin-left: 2rem;
    color:#181818;
   
}

.about-me{
    display:flex;
    justify-content:flex-start;
    margin-left: 2rem;
    max-width:32em;
    font-size:2.4em;
    color:#181818;
}

.links{
  display:flex;
  flex-direction: column;
  font-size:1.8rem;
  margin-left: 2em;
  text-decoration: underline;
  color:#00749C;
  list-style-type: square;
  text-decoration:none;
  color:#ffd100;
}

.links a {
  color:#000
}

/*//PROJECT SECTION//*/
#projects {
  padding-top:10rem;
}

#projects h1 {
  display:flex;
  justify-content: center;
  align-items: center;
}


/*//Website SECTION//*/
#websites{
  padding-top: 7rem;
  background:#FBFBFB;
}

.topTitle{
  font-size: 4.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.siteInfo{
  font-size:1.4rem;
}

.col h1 {
  border-bottom: 1px solid black;;
}

/*//CARD DESIGN//*/
.hero {
  display: inline-block;
  position: relative;
  width: 350px;
  min-width: 200px;
  height: 400px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
  transition: transform .2s; /* Animation */
}

.hero:hover {
  transform: scale(1.2);
}
.hero-profile-img {
  height: 100%;
}
.hero-btn {
  position: inherit;
  color: #ffd100;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #00749C;
  font-weight:bold;
}

.hero-btn a {
  color: #00749C;
}

.languages{
  margin-left: auto;
  margin-right: auto;
  color:#fff;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom:20px;
}

.fa-html5{
color:#e34c26;
}

.fa-css3-alt{
color:#2965f1;
}

.fa-js{
color:#f0db4f;
}

.fa-react{
color:#61DBFB;
}

.fa-bootstrap{
color:#553C7B;
}

.fa-wordpress{
color:#00749C;
}

.vueIcon, .railsIcon {
max-height:75px;
width:auto;
}



/*//ABOUT ME SECTION//*/

#biography{
  padding-top:7rem;
  background:#FBFBFB;
  padding-bottom:5rem;
}

#biography p {
  font-size:1.4rem;
}

.profile-pic{
  animation-name:slidein;
  animation-duration:1s;
  margin-top: 3rem;
    float:left;
    border-radius: 50%;
    height:320px;
    width:auto;
    border:4px solid #ffd100;
}


@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/*//BlOG SECTION//*/
#blog{
  padding-top:8rem;
}


/*//BlOG PAGES STYLING//*/

#blog-body{
  padding-top: 20rem;
  background:#FBFBFB;
}

#blog-body h1, h3, h4, p {
  padding-top:2rem;
  font-family: 'Libre Baskerville', serif;
  display:flex;
  justify-content: center;
  align-items: center;
}

#blog-body h3 {
  border-bottom: 1px solid #181818;
  margin-left: auto;
  margin-right: auto;
  max-width:80%
}

#blog-body p {
  max-width:60rem;
  margin-left: auto;
  margin-right: auto;
  font-size:1.2rem;
 
}

.cover-image{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffd100;
}

/*//Languages Page//*/

#languageSection{
  padding-top:8rem;
}

/*//JAVASCRIPT//*/

#javascript{
  padding-top:8rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*//CONTACT SECTION//*/
#contact{
  padding-top:8rem;
  display:block;
  justify-content: center;
  text-align: center;
  
}

.contact-links{
  font-size:2.4rem;
  color:#00749C;
}

.butn{
  display:inline-block;
  padding: 1rem 2rem;
  border-radius:2px;
  text-decoration:none;
  color:#ffd100;

}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*// FOOTER STYLING //*/

#footer{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: stretch;
  width:100%;
  line-height: 1.6em;
  padding: 2.5rem;
  color:white;
  background: #00749C;

}

.pageList li {
  list-style-type: square;
  border-right: 1px solid #FBFBFB;
  text-decoration:none;
  color:#ffd100;
}

.pageList a {
  color:#fff;
  text-decoration:underline;
 text-decoration-color: #ffd100;
}

.linkNav li{
  list-style-type: square;
  border-right: 1px solid #FBFBFB;
  text-decoration:none;
  color:#ffd100;
}

.linkNav a {
  color:#fff;
  text-decoration:underline;
  text-decoration-color: #ffd100;
}





  /*//MEDIA QUERIES//*/

  @media (max-width: 600px) {

  }
  @media only screen and (max-width: 768px) {

    #hamburger-menu {
      display: inline;
    }

    #intro{
      padding-top:20rem;
    }

    .custom-shape-divider-top-1678475592{
      width: calc(100% + 1.3px);
    height: 320px;
    }

    .intro-list h1 {
      font-size: 3.3rem;
    }
    .introTxt{
      font-size:2rem;
    }

    .about-me{
      font-size:2rem;
    }
    .profile-pic{
      display:flex;
      justify-content: center;
      flex-direction: column;
      margin-left:40px;
    }
    .languages{
      display:flex;
      justify-content: center;
      flex-direction: row;
    }

   
    .hero-profile-img{
      display:flex;
      justify-content: center;
      flex-direction:row ;
    }
  }
